@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- // moved to _Layout.cshtml
<div id="searchDiv" class="text-center row">
    <form id="searchForm" class="form-group" asp-page-handler="GetPosters"
          method="post">
        <input class="form-control" type="text" name="search" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>
-->

@if ((Program.videoSet != null) && (Program.videoSet.results.Count != 0))
{
    <div id="searchDiv" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" style="pointer-events:none" frameborder="0" height="500px" width="100%"
                src="https://youtube.com/embed/@Program.videoSet.results[0].key?modestbranding=1&cc_load_policy=1&vq=large&autoplay=1&mute=1&loop=1&playlist=@Program.videoSet.results[0].key&controls=0&autohide=1&rel=0" allowfullscreen>
        </iframe>
    </div>
}
else
{
    <div id="searchDiv" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" style="pointer-events:none" frameborder="0" height="500px" width="100%"
                src="https://youtube.com/embed/FhumjpeTU8Q?modestbranding=1&cc_load_policy=1&vq=large&autoplay=1&mute=1&loop=1&playlist=0nbIdLz2Azo&controls=0&autohide=1&rel=0" allowfullscreen>
        </iframe>
    </div>
}



@if (Model.searchTerm != null)
{
    <form method="post" asp-page-handler="GetPosters">
        <input type="submit" name="movieID"
               value="@Model.searchTerm" />
    </form>
}

<div id="posters">
    <form method="post" asp-page-handler="Details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @for (int i = 0; i < Model.posterURLs.Count; i++)
                    {
                        //string path = "https://image.tmdb.org/t/p/w500" +
                        //    Model.posterURLs[i];
                        string path = "https://image.tmdb.org/t/p/w500" +
                        @Program.posterSet.results[i].poster_path; // Model.posterURLs[i];
                        if (@Program.posterSet.results[i].poster_path != null)
                        {
                            <div class="col-sm-3" style="min-width:250px">
                                <div class="card pull-left">
                                    <img src="@path" class="card-img-top thumbs" alt="..." style="min-height: 380px">
                                    <p class="tooltip">@Model.overviews[i]</p>
                                    <div class="card-body">
                                        <p class="card-text" style="width: 250px; height: 200px; overflow-y: scroll;">
                                            @Model.overviews[i]
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <button type="submit" name="movieID" class="btn btn-primary" value="@Model.movieIDs[i]">See more...</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<div id="videos">
    @if (Model.videoKeys.Count > 0)
    {
        @for (int i = 0; i < Model.MAX_VIDS; i++)
        {
            if (i < Model.videoKeys.Count)
            { // for case that less than Model.MAX_VIDS
                <iframe class="youtubeVids" width="336" height="187"
                        src="https://www.youtube.com/embed/@Model.videoKeys[i]"
                        frameborder="0" allow="encrypted-media; picture-in-picture"
                        allowfullscreen></iframe>
            }
        }
    }
</div>

<div id="movieDetails" style="padding: 25px;">
    @if (Model.movieRuntime > 0)
    {
        <div class="alert alert-secondary" role="alert">Runtime: @Model.movieRuntime.ToString() mins</div>
        <div class="alert alert-info" role="heading">Movie Tagline: @Model.movieTagline</div>
        <p>@Model.movieOverview</p>
    }
</div>

<div id="cast" style="text-align: center;">
    <!-- use this for the URL: https://image.tmdb.org/t/p/w500/ -->
    <form method="post" asp-page-handler="CastDetails">
        @if (Model.castPics.Count > 0)
        {
            @for (int i = 0; i < Model.castPics.Count; i++)
            {
                <div class="castPic"
                     style="background: url(https://image.tmdb.org/t/p/w500/@Model.castPics[i]); background-position: center; background-size: 100%;">
                    <button type="submit" name="actorID" value="@Model.actorIDs[i]">
                        @Model.castNames[i]
                    </button>
                </div>
            }
        }
    </form>
</div>

