@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="searchDiv" class="text-center row">
    <form id="searchForm" class="form-group" asp-page-handler="GetPosters" 
          method="post">
        <input class="form-control" type="text" name="search" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>

@if (Model.searchTerm != null)
{
    <form method="post" asp-page-handler="GetPosters">
        <input type="submit" name="movieID"
               value="@Model.searchTerm" />
    </form>
}

<div id="posters">
    <form method="post" asp-page-handler="Details">
        @for (int i = 0; i < Model.posterURLs.Count; i++)
        {
            string path = "https://image.tmdb.org/t/p/w500" +
            Model.posterURLs[i];
            <div class="card pull-left">
                <img src="@path" class="card-img-top thumbs" alt="...">
                <div class="card-body">
                    <p class="card-text" style="width: 250px;">
                        @Model.overviews[i]
                    </p>
                </div>
                <div class="card-body">
                    <button type="submit" name="movieID" class="btn btn-primary"  value="@Model.movieIDs[i]">See more...</button>
                </div>
            </div>
        }
    </form>
</div>

<div id="videos">
    @if (Model.videoKeys.Count > 0)
    {
        @for (int i = 0; i < Model.MAX_VIDS; i++)
        {
            <iframe class="youtubeVids" width="336" height="187"
            src="https://www.youtube.com/embed/@Model.videoKeys[i]"
            frameborder="0" allow="encrypted-media; picture-in-picture"
            allowfullscreen></iframe>
        }
    }
</div>

<div id="movieDetails" style="padding: 25px;">
    @if (Model.movieRuntime > 0)
    {
        <div class="alert alert-secondary" role="alert">Runtime: @Model.movieRuntime.ToString() mins</div>
        <div class="alert alert-info" role="heading">Movie Tagline: @Model.movieTagline</div>
        <p>@Model.movieOverview</p>
    }
</div>

<div id="cast" style="text-align: center;">
    <!-- use this for the URL: https://image.tmdb.org/t/p/w500/ -->
    <form method="post" asp-page-handler="CastDetails">
        @if (Model.castPics.Count > 0)
        {
            @for (int i = 0; i < Model.castPics.Count; i++)
            {
                <div class="castPic"
                     style="background: url(https://image.tmdb.org/t/p/w500/@Model.castPics[i]); background-position: center; background-size: 100%;">
                    <button type="submit" name="actorID" value="@Model.actorIDs[i]">
                        @Model.castNames[i]
                    </button>
                </div>
            }
        }
    </form>
</div>