@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" style="pointer-events:none"
            src="https://youtube.com/embed/FhumjpeTU8Q?modestbranding=0&cc_load_policy=1&autoplay=1&mute=1&loop=1&playlist=0nbIdLz2Azo&controls=0&autohide=1&rel=0">
    </iframe>
</div>

<div id="searchDiv2" class="text-center row">
    <form id="searchForm2" class="form-group" asp-page-handler="GetPosters" method="post">
        <input type="text" name="search" />
        <input type="submit" value="" />
    </form>
</div>

<div id="searchDiv" class="text-center row">
    <form id="searchForm" class="form-group" asp-page-handler="GetPosters"
          method="post">
        <input class="form-control" type="text" name="search" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>

@if (Model.searchTerm != null)
{
    <form method="post" asp-page-handler="GetPosters">
        <input type="submit" name="movieID"
               value="@Model.searchTerm" />
    </form>
}

<div id="posters">
    <form method="post" asp-page-handler="Details">
        @for (int i = 0; i < Model.posterURLs.Count; i++)
        {
            string path = "https://image.tmdb.org/t/p/w500" +
                Model.posterURLs[i];
            <div class="thumbs"
                 style="background: url(@path); background-size: 100%;">
                <input type="submit" class="link" name="movieID"
                       value="@Model.movieIDs[i]" />
            </div>
        }
    </form>
</div>

<div id="videos">
    @if (Model.videoKeys.Count > 0)
    {
        @for (int i = 0; i < Model.MAX_VIDS; i++)
        {
            <iframe class="youtubeVids" width="336" height="187"
                    src="https://www.youtube.com/embed/@Model.videoKeys[i]"
                    frameborder="0" allow="encrypted-media; picture-in-picture"
                    allowfullscreen></iframe>
        }
    }
</div>

<div id="movieDetails" style="padding: 25px;">
    @if (Model.movieRuntime > 0)
    {
        <h3>Runtime: @Model.movieRuntime.ToString() mins</h3>
        <h2>Movie Tagline: @Model.movieTagline</h2>
        <p>@Model.movieOverview</p>
    }
</div>

<div id="cast" style="text-align: center;">
    <!-- use this for the URL: https://image.tmdb.org/t/p/w500/ -->
    @if (Model.castPics.Count > 0)
    {
        @foreach (var pic in Model.castPics)
        {
            <div class="castPic"
                 style="background: url(https://image.tmdb.org/t/p/w500/@pic); background-position: center; background-size: 100%;"></div>
        }
    }
</div>